html {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  fill: #2a3541;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
